<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dfch"/>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="Source1" switchName="SourceSwitch" >
        <listeners>
          <add name="Log4NetTraceListener" />
        </listeners>
      </source>
      <source name="Source2" switchName="SourceSwitch" >
        <listeners>
          <add name="Log4NetTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="Log4NetTraceListener"
      type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9"
      initializeData="C:\Windows\System32\WindowsPowerShell\v1.0\dfch\log4net.config"
      traceOutputOptions="Callstack, LogicalOperationStack" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="Log4NetTraceListener"
          type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, Culture=neutral, PublicKeyToken=ddc350d26de1d0d9"
		  initializeData="C:\Windows\System32\WindowsPowerShell\v1.0\dfch\log4net.config"
		/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
